.container {
    /* background-color: bisque; */
    margin-top: 100px;
}

.paper {
    margin-top: 5em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.texto-busqueda {
    text-align: center;
}