.container {
    
    padding-bottom: 1em;
}

.paper {
    margin-top: 5em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.texto-busqueda {
    text-align: center;
}

.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}