.seccion {
    background-color: rgb(246, 249, 252);
}

.seccion > h2 {
    padding-top: 1em;
    padding-left: 1em;
}

.boton-ver-container {
    text-align: right;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}