.nota{
	min-height: 300px;
	max-height: 400px;
	max-width: 250px;
	border: 0.1rem gray solid;
	padding: 10px;
	background-color: #f8f8f8;
	border-radius: .5rem;
	margin: 1rem;
}

.nota h1{
	font-size: 18px;
	text-align: left;
}