.row{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
}

.row.center{
	justify-content: center;
}

.row.top{
	align-items: flex-start;
}

.seccion-inicio {
	margin-top: 7em;
	margin-bottom: 5em;
}