html{
	font-size: 62.5%; /*16px*/
	box-sizing: border-box;
}

body{
	margin: 0;
	height: 100vh;
	font-size: 1.6rem;
	/* font-family: Helvetica, Arial, sans-serif; */
	font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}

main{
	grid-area: main;
	padding: 1rem;
}

/*Common class*/

h1{
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2{
	font-size: 1.6rem;
	padding: 1rem 0;
}

a{
	text-decoration: none;
}

a:hover{
	color: #001aff;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}