/*===== VARIABLES CSS =====*/
:root{
	--header-height: 3rem;
	--nav-width: 68px;
  
	/*===== Colors =====*/
	--first-color: #2196f3;
	--first-color-light: #ffffff;
	--white-color: #F7F6FB;
	
	/*===== Font and typography =====*/
	--body-font: 'Nunito', sans-serif;
	--normal-font-size: 1rem;
	
	/*===== z index =====*/
	--z-fixed: 100;
  }
  
  /*===== BASE =====*/
  *,::before,::after{
	box-sizing: border-box;
  }
  
  body{
	position: relative;
	margin: var(--header-height) 0 0 0;
	padding: 0 1rem;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	transition: .5s;
  }
  
  a{
	text-decoration: none;
  }
  
  
  
a:hover{
	color: #001aff;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

span[class="danger"] {
    color: rgb(194, 2, 2);
    padding-bottom: 10px;
}

.previewImagen {
	min-width: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    max-height: 30em;
	min-height: 30em;
}

.previewImagen > img {
    width: 100%;
	height: auto;
}

footer {
	background-color: var(--first-color);
	position: absolute;
  	left: 0;
 	bottom: 0;
  	width: 100%
}